body {
  background-color: rgba(27, 122, 224, 0.619);
}

body:has(dialog[open]) {
  overflow: hidden;
}

.title {
  text-align: center;
}

.containerForOptions {
  width: 80vw;
  /* height: 10vh; */
  margin: 2% auto;
}

.dialog {
  border: none;
  padding: 0;
}

/* .dialog-wrapper {
  padding: 1em;
} */

dialog[open]::backdrop {
  background: linear-gradient(
    45deg,
    rgba(146, 228, 111, 0.6) 0%,
    rgba(72, 108, 191, 0.6) 50%,
    rgba(177, 48, 169, 0.6) 100%
  );

  backdrop-filter: blur(2px);
}

.popup-wrong {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  /* gap: 1%; */
  height: 30vh;
  justify-content: space-around;
}

.dialog-button {
  width: 100%;
}

.container {
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1% auto;
}

.buttonList {
  cursor: pointer;
  padding: 1%;
  border-radius: 7px;
  margin: 1%;
  transition: all 0.3s ease-in-out;
  width: 80%;
}

.buttonList:hover {
  transform: scale(0.9);
}

.item {
  list-style: none;
  border: 1px solid bisque;
  width: 70%;
  margin: 1% auto;
  border-radius: 20px;
}

.label-item {
  font-size: 1.2vw;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.input-item,
.button-item {
  margin: 2vw;
  border-radius: 10px;
}

.button-item {
  cursor: pointer;
}

.containerForButtons {
  display: flex;
  justify-content: space-around;
}

canvas {
  border: 1px solid #000;
  display: block;
  margin: 20px auto;
}
#pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -25px;
  height: 50px;
  width: 10px;
  background: red;
  z-index: 1;
}

/* .popup-wrong {
  display: none;
  width: 400px;
  height: 50px;
  margin: 10% auto;
  position: absolute;
  z-index: 5;
} */

@media (max-width: 900px) {
  .label-item {
    flex-wrap: wrap;
    font-size: 2vw;
    padding: 2% 0;
  }

  .input-item {
    width: 100%;
  }
}
