html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #db7093;
  height: 100vh;
}

@keyframes pulse {
  from {
    scale: .7;
  }

  to {
    scale: 1;
  }
}

.start-game {
  width: 15vh;
  padding: 2%;
  cursor: pointer;
  border: 1px inset #7d2e48;
  border-radius: 10px;
  font-size: 1.5em;
  text-align: center;
  margin: auto;
  color: bisque;
  transition: all .3s ease-in-out;
  animation: pulse .9s linear 1s infinite alternate;
}

.start-game:hover {
  box-shadow: 0px 0px 40px 0px rgba(250, 251, 252, 0.549);
}

.level {
  height: 30vh;
  width: 50%;
  border: 1px inset #7d2e48;
  border-radius: 10px;
  margin: 5% auto 10% auto;
}

.level-title, 
#selected-level {
  text-align: center;
  font-size: x-large;
  color: bisque;
}

.container-for-level-choose {
  display: flex;
  height: 30%;
  justify-content: space-evenly;
  align-items: stretch;
}

.level-choose {
  border: 1px inset #7d2e48;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: all .3s ease-in-out;
}

.level-choose:hover,
.selected {
  background-color: #7d2e48;
}

.level-choose-name {
  padding: 5vh;
  cursor: pointer;
  color: bisque;
}

.field {
  height: 20vh;
  border: 1px inset #7d2e48;
  width: 80%;
  margin: 2% auto 2% auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 2em;
}

.keyboard,
.navigation {
  width: 80%;
  margin: auto;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

.digital {
  padding: 3%;
  border: 1px solid beige;
  border-radius: 10px;
  font-size: 1.3em;
  cursor: pointer;
  margin-bottom: 2%;
  transition: all .3s ease-in-out;
}

.digital:hover,
#repeat:hover,
#new-game:hover {
  background-color: rgba(245, 245, 220, 0.493);
}

#repeat,
#new-game {
  cursor: pointer;
}

#currentLevel,
#round,
#repeat,
#new-game {
  padding: 1%;
  border: 1px solid beige;
  border-radius: 10px;
  font-size: 1em;
  transition: all .3s ease-in-out;
}

.chooseKey {
  background-color: rgba(245, 245, 220);
}