body {
  background-color: lightgrey;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.container {
  display: flex;
  width: 70%;
  justify-content: space-around;
}

canvas {
  border: 1px solid black;
  /* width: 50vh;
  height: 50vh; */
}

.modal {
  width: 30vh;
  height: 30vh;
  background-color: beige;
  position: absolute;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  padding: 1%;
  text-align: center;
}

.gameChooseBlock {
  text-align: center;
  width: 40vh;
}

.nameGame,
.level {
  cursor: pointer;
  margin: 0;
  padding: 7%;
  transition: all .3s ease-in-out;
}

.nameGame:hover,
.level:hover,
.active,
.resetButton:hover {
  background-color: #ffa50099;
  border-radius: 10px;
}

.resetButton {
  padding: 1.5%;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}