:root {
    --primary: #ff4646;
    --dark: #181c29;
    --static-white: #fff;
    --content-background: #ecf3f8;
    --tag-purple: #4361ff;
    --tag-pink: #ff43f7;
    --tag-green: #06a44f;
    --primary-10: rgba(255, 70, 70, 0.1);
    --static-white-20: rgba(255, 255, 255, 0.2);
    --static-white-40: rgba(255, 255, 255, 0.4);
    --overlay: rgba(24, 28, 41, 0.8);
}

:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Allura", sans-serif;
    --third-family: "San Francisco Pro", sans-serif;
}

@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Bold'), local('San-Francisco-Pro-Display-Bold'),
        url('/assets/fonts/SFProDisplay-Bold/SFProDisplay-Bold.woff2') format('woff2'),
        url('/assets/fonts/SFProDisplay-Bold/SFProDisplay-Bold.woff') format('woff'),
        url('/assets/fonts/SFProDisplay-Bold/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro Display Regular'), local('San-Francisco-Pro-Display-Regular'),
        url('/assets/fonts/SFProDisplay-Bold/SFProDisplay-Regular.woff2') format('woff2'),
        url('/assets/fonts/SFProDisplay-Bold/SFProDisplay-Regular.woff') format('woff'),
        url('/assets/fonts/SFProDisplay-Bold/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@media((min-width: 769px) and (max-width: 1300px)){

    /* header */

    header {
        padding: 0 1%;
    }

    .logo {
        width: 19%;
    }

    nav {
        width: 50%;
        justify-content: center;
        gap: 2%;
    }

    .nav-link {
        padding: 12px 15px;
    }

    /* hero */

    .hero-text {
        width: 57%;
        padding-top: 8%;
    }

    /* about */

    .about {
        padding: 61px 8px;
    }

    .about-desc {
        width: 42%;
        max-width: 256px;
        margin: 47px 0px 47px 60px;
    }

    /* slider */

    .slider-imgs {
        margin-left: 1%;
        /* margin-right: 1%; */
    }

    .slider-ctrls {
        margin-right: 1%;
    }

    /* best gifts */

    .best-gifts {
        padding-top: 7.7%;
        padding-bottom: 7.7%;
    }

    /* santa */

    .santa-desc {
        width: 53%;
        padding-top: 23%;
    }

    /* footer */

    .footer-contacts-link {
        width: 100%;
    }

    .footer-socials {
        width: 26%;
        margin-top: 67px;
    }

    .footer-copy {
        padding-bottom: 2%;
    }
}

@media((min-width: 697px) and (max-width: 768px)){

    /* header */
    
    header {
        padding: 0 1%;
    }
    
    .logo {
        width: 19%;
    }
    
    nav {
        display: none;
    }
    
    .burger {
        display: flex;
    }

    /* hero */

    .hero {
        padding: 7% 1% 16% 1%;
    }
        
    .hero-text {
        width: 57%;
        padding-top: 8%;
    }
        
    /* about */
        
    .about {
        padding: 61px 8px;
    }
        
    .about-desc {
        width: 42%;
        max-width: 256px;
        margin: 47px 0px 47px 60px;
    }
        
    /* slider */
        
    .slider-imgs {
        margin-left: 1%;
        /* margin-right: 1%; */
    }
        
    .slider-ctrls {
        margin-right: 1%;
    }
        
    /* best gifts */
        
    .best-gifts {
        padding-top: 7.7%;
        padding-bottom: 7.7%;
    }
        
    /* santa */
        
    .santa-desc {
        width: 53%;
        padding-top: 23%;
    }

    /* gifts */

    .gifts-text {
        width: 55%;
    }
        
    /* footer */
        
    .footer-contacts-link {
        width: 100%;
    }
        
    .footer-socials {
        width: 26%;
        margin-top: 67px;
    }
        
    .footer-copy {
        padding-bottom: 2%;
    }
}

@media((min-width: 380px) and (max-width: 696px)){
    /* header */
        
    header {
        padding: 0 2%;
    }
        
    .logo {
        width: 39%;
    }
        
    nav {
        display: none;
    }
        
    .burger {
        display: flex;
    }
        
    /* hero */

    .hero {
        padding: 7% 1% 21% 1%;
        max-height: 573px;
    }
        
    .hero-text {
        width: 100%;
        padding-top: 23%;
        height: 64vh;
    }

    .hero-block {
        margin-top: 1.5%;
        margin-bottom: 1.5%;
    }
        
    /* about */
        
    .about {
        padding: 61px 8px;
    }

    .about-text {
        flex-direction: column;
    }
        
    .about-desc {
        width: 100%;
        max-width: 324px;
        margin: 0% 0% 0% 5%;
    }

    .about-bg-img {
        width: 100%;
        min-height: 528px;
    }
        
    /* slider */

    .slider {
        padding-top: 58px;
    }
        
    .slider-imgs {
        margin-left: 2%;
        /* margin-right: 2%; */
    }
        
    .slider-ctrls {
        margin-right: 2%;
        margin-top: 1%;
    }
        
    /* best gifts */

    .best-gifts {
        background: none;
        background-color: var(--primary);
    }
        
    .best-gifts {
        padding-top: 15%;
        padding-bottom: 15%;
    }
        
    /* santa */

    .santa {
        min-height: 704px;
    }
        
    .santa-desc {
        width: 100%;
        padding-top: 48%;
    }

    /* gifts */

    .gifts {
        padding: 59px 8px;
    }

    .gifts-text {
        width: 100%;
    }

    .gifts-filter {
        gap: 4px;
    }

    .gift-filter-item {
        padding: 13px 6px;
    }

    .best-gifts-desc {
        padding-top: 17px;
    }
        
    /* footer */

    footer {
        padding: 66px 8px;
    }
        
    .footer-contacts-link {
        width: 100%;
        min-width: 364px;
    }
        
    .footer-socials {
        width: 55%;
        margin-top: 67px;
    }
        
    .footer-copy {
        padding-bottom: 4%;
    }
}